<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    <style>
        .fcc-btn {
            background-color: #199319;
            color: white;
            padding: 5px 15px;
            font-size: 14px;
            text-decoration: none;
        }
    </style>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    thread,
    tfoot {
        background-color: #333;
        color: #fff;
    }


        </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }

    </style>



</head>
<body>
<div style="text-align: center">
    <a th:href="@{/getAllCompanies}">
        <button type="button" class="fcc-btn" value="Return to main"> Return to main </button>
    </a>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Course name</th>
        <th scope="col">Duration</th>
        <th scope="col">Description</th>
<!--        <th scope="col">Group</th>-->
        <th scope="col">Group</th>
        <th scope="col">Instructor</th>
        <th scope="col">Lesson</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="course: ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.duration}"></td>
        <td th:text="${course.description}"></td>

<!--        <td><a th:href="@{/groups/{id}(id=${course.getId()})}">-->
<!--            <button>Groups</button>-->
<!--        </a>-->
<!--        </td>-->

        <td>
            <form th:method="POST"
                  th:action="@{/{companyId}/{courseId}/assignGroup(companyId=${companyId},courseId=${course.getId()})}">
                <select name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:object="${group}" th:field="*{id}">
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.groupName}"></option>
                </select>
                <input  type="submit" value="submit"/>
            </form>
        </td>

        <td><a th:href="@{/instructors/{id}(id=${course.getId()})}">
            <button>Instructor</button>
        </a>
        </td>

        <td><a th:href="@{/lessons/{id}(id=${course.getId()})}">
            <button>Lesson</button>
        </a>
        </td>

        <td><a th:href="@{/update/{id}(id=${course.id})}">
            <button>Update</button>
        </a>
        </td>
        <td><a
                th:href="@{/{companyId}/{id}/deleteCourse(id=${course.id},companyId=${companyId})}">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div style="text-align: center">
    <a th:href="@{/courses/{id}/addCourse(id=${companyId})}">
        <button class="fcc-btn"> Add Course </button>
    </a>
</div>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Group name</th>
        <th scope="col">Date of start</th>
        <th scope="col">image</th>
        <th scope="col">Student</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="group: ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.image}"></td>

        <td><a th:href="@{/students/{id}(id=${group.getId()})}">
            <button>Student</button>
        </a>
        </td>

        <td><a th:href="@{/updateGroup/{id}(id=${group.id})}">
            <button>Update</button>
        </a>
        </td>
        <td><a th:href="@{/{companyId}/{id}/deleteGroup(id=${group.id},companyId=${companyId})}">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div style="text-align: center">
    <a th:href="@{/groups/{id}/addGroup(id=${companyId})}">
        <button class="fcc-btn"> Add Group </button>
    </a>
</div>

</body>
</html>